/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Site custom css start here */
header .storename .address a{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.fl-slide-1  .fl-slide-photo-wrap{
	width: 100% !important;
}
.brandslider .uabb-masonary-content .uabb-image-carousel-content .uabb-gallery-img {
	max-width: 180px;
    margin: 0 auto;
}
body div.fl-module-uabb-gravity-form  .uabb-gf-style .gform_page .gform_page_footer input[type=submit],
.gform_legacy_markup_wrapper .gform_footer input.button, .gform_legacy_markup_wrapper .gform_footer input[type=submit], .gform_legacy_markup_wrapper .gform_page_footer input.button, .gform_legacy_markup_wrapper .gform_page_footer input[type=submit],
a.fl-button.financeSync span{
	font-size: 14px !important;
    font-weight: 600 !important;
	min-height: auto !important;
}
.fl-node-61112fedc1628 .uabb-gf-style .gform_wrapper .gform_footer input[type=submit], .fl-node-61112fedc1628 .uabb-gf-style .gform_page .gform_page_footer input[type=button], .fl-node-61112fedc1628 .uabb-gf-style .gform_page .gform_page_footer input[type=submit],
a.fl-button.financeSync,
.product-detail-layout-6 .dual-button a,
a.getcoupon-btn{
	border-radius: 0px!important;
    background: #00226C!important ;
    border-color: #00226C !important; 
    color: #ffffff !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    min-width: 200px !important;
	font-size: 14px !important;
    font-weight: 600 !important;
    min-height: auto !important;
    height: auto !important;
}
.fl-node-61112fedc1628 .uabb-gf-style .gform_wrapper .gform_footer input[type=submit]:hover, .fl-node-61112fedc1628 .uabb-gf-style .gform_page .gform_page_footer input[type=button]:hover, .fl-node-61112fedc1628 .uabb-gf-style .gform_page .gform_page_footer input[type=submit]:hover,
a.fl-button.financeSync:hover,
.product-detail-layout-6 .dual-button a:hover,
a.getcoupon-btn:hover{
	color: #ffffff !important;
    background: #cc9932 !important;
    border-color: #cc9932 !important;
}
.product-detail-layout-6 .dual-button a{
	min-width: auto !important;
}
.facet_filters .facet-wrap>strong{
	border-bottom: 2px solid #000 !important;
}
.facet_filters strong {
    color: #000 !important;
}
a.uabb-button ,
a.fl-button{
    font-weight: 600 !important;
	font-size: 14px !important;
	padding-top: 12px !important;
    padding-bottom: 12px !important;
	min-height: auto !important; 
	min-width: 200px !important; 
}
header .storename .address > a p{
    margin-bottom: 0px!important;
}
header .storename .address > a p:nth-child(2){
    margin-left: 0px!important;
    margin-left: 6px!important;
}
.custom_searchModule {
   display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
	max-width: 600px!important;
	width: 100%!important;
}
.brandslider .slick-track{
    display: flex;
    align-items: center;
}
.FloorteBtn .fl-callout-text a{
    color: #56728d !important;
}
.top-bar-nav ul#menu-top-bar-menu li a, .top-bar-nav ul#menu-top-bar-menu li a * ,
.fl-page-bar-text font span{
    font-size: 14px !important;
}
.fl-page-bar a *,
.fl-page-bar a *:hover{
    color: #fff !important;
    font-size: 14px;
}
.slick-track{
    display: flex;
    align-items: center;
    justify-content:center;
}
.fa-2x {
    font-size: 18px !important;
    vertical-align: text-bottom !important;
}
 .Floorvan_form a{
	color: #56728d!important; 
}
.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
    position: absolute;
    bottom: 50px;
    width: 100%;
}
.bx-pager-link{
    height: 10px!important;
    width: 40px!important;  
    background-color: rgba(244,244,245,0.45);
    border-radius: 0px!important;
}
.bx-pager-link.active{
    background-color: #00226C!important;
}
/*footer .iPadFooter.fl-row-bg-color   .fl-row-content-wrap{
    background-color: #56728d;
}*/
ul.social-icons li a:hover i {
    color: #56728d;
}
.contct-us-link p:hover a{
    color: #c08d26 !important;
}
footer a i{
    cursor: pointer !important;
}
.privacy-policy-row .storename, .privacy-policy-row .phone{
    display: inline-block
}
.ipad-land-row h6.uabb-infobox-title-prefix {
    text-transform: uppercase;
}

#menu-item-507185 .storename li .phone span::before,
#responsive-menu-additional-content .storename .phone a span::before{
    content: "\f1f8";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}
.searchIcon {
    position: absolute;
    right: 10px;
    top: 25px;
}
.ui-datepicker-title select{
    color: #414042;
}
.fl-page-bar-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}
.d-none .fl-heading span{
    font-size: 0px !important;
}
.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
}
.gform_wrapper .gfield_time_hour input, 
.gform_wrapper .gfield_time_minute input {
    
    width: calc(5rem + 8px) !important;
}
.gform_wrapper .gfield_time_hour i{
    margin-right: -25px;
}
.gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    margin: 1px 0 9px 13px !important;
}
body .gform_wrapper .top_label div.ginput_container.ginput_container_time{
    margin-right: 30px !important;
}

.fullWidthBanner img {
    width: 100%;
}

.phone>a {
    font-weight: 400;
    color: #3b5267;
}

.iscwp-gallery-slider .slick-dots li button {
    border: 1px solid #949494;
}

.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox]{
    margin-top: 0px!important;
}
.gform_wrapper ul.gform_fields li.gfield select{
    padding: 14px 5px!important;
    min-width: 60px;
}
.gform_wrapper .gfield_time_hour i{
    margin-top: -2px!important;
}
.iscwp-gallery-slider .slick-dots li.slick-active button {
    background: #949494;
}
.fl-page-bar-row .fl-page-bar-text-2 {
    padding: 10px 0 0 0;
}
.fl-page-bar-row .fl-page-bar-text-2 a{
    font-size: 16px;
}
.fl-page-bar-row .fl-page-bar-text-2 i{
    font-size: 18px;
    margin-right: 5px;
    vertical-align: -3px;
}
.fl-page-bar-nav .menu-item .storename li .phone a:before{
    content: "\f095";
    font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;
    margin: 2px 5px 0 0px;
    font-weight: 400;
    font-size: 18px;
}
#product-images-holder.colorwall-exlusive-batch .popup-imgs-holder .main-imgs{
    max-height: 456px;
}

.Top-Bar-Content h3 a span div:hover, .address a:hover p, .phone a:hover span,  .phone a:hover span, .footermenu .menu-item a:hover{
    color: #c08d26 !important;
}
.custom_searchHeader i {
    cursor: pointer;
}
a.getstarted-btn {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background: #00226C;
    border: 1px solid #00226C;
    font-size: 14px;
    padding: 12px 24px;
    color: #fff;
}
a.getstarted-btn:hover{
    background: #cc9932;
    border: 1px solid #cc9932;
}
.message {
    display: inline-block;
}

.header-add ul.storename {
    float: right;
}

@media(min-width:769px) and (max-width:1024px) {
    .header-phone-number ul.storename .phone a {
        font-size: 12px;
    }
    
    .header-menu .menu li a {
        font-size: 14px !important;
        padding: 10px 20px !important;
    }    
    .ipad-land-row .fl-col.fl-col-small {
        width: 60% !important;
    }
    .copayright-row .fl-col.fl-col-small:nth-child(2) {
        width: 10%;
    }
}
@media(max-width:1024px) {
    .fl-page-bar .fl-page-bar-nav>li>a {
        padding: 2px 60px!important;
    }
    .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .headerMain .headerRightNav {
        margin-left: 30px;
    }

    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }
}
@media (min-width: 1500px){
	#breadcrumbs .container {
   		width: 1440px;
	}
}
	
@media (min-width: 768px){
    .fl-page-bar .text-right .fl-page-bar-nav {
        text-align: center;
    }

}
@media(max-width:768px) {
    /* .searchIcon {
        position: absolute;
    } */

    /* button#responsive-menu-button {
        top: 0 !important;
    } */
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0 !important;
    }
    #responsive-menu-container #responsive-menu-search-box, 
    #responsive-menu-container #responsive-menu-additional-content, 
    #responsive-menu-container #responsive-menu-title {
        padding: 10px 5% !important;
    }
    .fl-page-header-logo{
        text-align: left;
    }
    .fl-page-nav-right .fl-page-nav-wrap{
        display: none;
    }
    .headerMain .fl-col-group {
        display: flex;
        align-items: center;
    }

    .headerMain .headerRightNav {
        margin: 0;
    }

    .headerMain .headerLogo {
        flex: 2;
    }
    .w-100{
        width: 100%;
    }
    .headerMain .phone.retailer {
        font-size: 26px;
        color: #3b5267;
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Ultimate-Icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .headerMain .phone.retailer:before {

        content: "\ea3e";

    }
    .headerMain .phone.retailer span{
        font-size: 0;
    }

    .iPadFooter .fl-col-group {
        display: flex;
    }

    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }

    ul#menu-copyright-bar-menu {
        display: flex;
        justify-content: center;
    }
    footer .widget.widget_nav_menu {
        text-align: center;
    }
    .reviewMeter .uabb-infobox-content{
        justify-content: center;
    }
    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    }
    
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
    }
    header .storename .address a{
        justify-content: center;
        max-width: 330px;
        margin: 0 auto;
    }
    .location-top .fl-button{
        text-align: center !important;
    }
    .location-get-direction .fl-html > div {
        margin: 0 auto;
    }
    .ipad-land-row .fl-col.fl-col-small {
        max-width: 600px;
    }
    .header-phone-number ul.storename {
        margin: -15px 0 0;
    }
    .header-add ul.storename {
        float: none;
    }
}   

@media(max-width:767px) {
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
    button#responsive-menu-button{
        top: 110px !important;
    }
    .fl-page-bar-text font,
    .top-bar-nav ul#menu-top-bar-menu li a, .top-bar-nav ul#menu-top-bar-menu li a * {
        font-size: 12px !important;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text >p{
        margin-bottom: 0 ;
    }
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav .navbar-toggle{
        display: none !important;
    }
    #responsive-menu-container #responsive-menu-additional-content, 
    #responsive-menu-container #responsive-menu-title ,
    #responsive-menu-container #responsive-menu-search-box{
        padding: 10px 5% !important;
    }
    #responsive-menu-additional-content .storename li .phone span::before{
        content: "\f1f8";
        font-family: "foundation-icons";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        text-decoration: inherit;
        margin-right: 5px;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0 !important;
    }
    button#responsive-menu-button {
        z-index: 99999 !important;
    }
    #menu-about-us,
    #menu-inspiration-menu,
    #menu-flooring-menu{
        text-align: center !important;
    }
}
@media (max-width: 604px){
    button#responsive-menu-button {
        top: 35px !important;
        right: 7px !important;
    }
    .top-bar-nav ul#menu-top-bar-menu li a, .top-bar-nav ul#menu-top-bar-menu li a *{
        line-height: 1.5 !important;
    }
    .uabb-masonary .uabb-masonary-item{
         width: 100% !important;
    } 
    .fl-page-header-primary .fl-logo-img {
        max-width: 64% !important;
    } 
}
@media(max-width:480px) {    
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
    }
    .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next{
        right: 20px;
    }
    .fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev{
        left: 20px;
    }
    .iPadFooter .fl-col-group{
        flex-direction: column;
    }
    .iPadFooter .fl-col-group .fl-col{
        flex: 2;
        width: 100% !important;
        text-align: center;
    }
    ul#menu-copyright-bar-menu{
        justify-content: center;
    }
}
@media (max-width: 414px){
    button#responsive-menu-button {
        top: 88px !important;
    }
    .fa-2x{
        font-size: 16px !important;
    }
}
@media(max-width:379px) {  
    .top-bar-nav .fl-page-bar-nav>li>a {
        padding: 2px 5px;
    }
    .fl-page-bar-row .col-md-6.text-right{
        padding-left: 5px;
    } 
    .fl-page-bar-row .col-md-6.text-left{
        padding-right: 5px;
    } 
    .fl-page-bar-text font, .top-bar-nav ul#menu-top-bar-menu li a, .top-bar-nav ul#menu-top-bar-menu li a * {
        font-size: 11px !important;
    }
    button#responsive-menu-button {
        top: 15px !important;
        right: 7px !important;
    }
}
@media(max-width:374px) {  
    .fl-page-bar{
        display: none;
    }
    button#responsive-menu-button {
        top: 15px !important;
    }
}